
<% @pizzas.each do |pizza| %>

<div class="stolen-frosty span6 offset3">
	<h1 class="stolen-h1">Name: <%= pizza.name %></h2>
	<h2>Lat: <%=pizza.lat %></h2>
	<h2>Long: <%=pizza.lng %></h2>
	
	</div>

	<% end %>

